*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6;
  background-color: #FFB6C1;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

section {
  padding: 7em 0;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: .5em 1.25em;
    margin: .2em;
    background: var(--clr_accent,#000000);
    color: var(--clr_text,#ffffff);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    border-radius: .25em;
    transition: 
    transform 250ms ease-in-out,
    opacity 175ms linear;

    &:hover,
    &:focus{
        transform: scale(1.1);
        opacity: 0.9;
    }
    
    &.btn_nav{
        background: var(--clr_accent,);
    }
}

.card{
    max-height: 200px;
}

.primary-title {
  font-size: 3.5rem;
  font-size: clamp(2.5rem, calc(5vw + 1rem), 3.5rem);
  line-height: 1;
  color: white;
  padding: 10px;
}

.section-title {
  text-align: center;
  font-size: clamp(2rem, calc(5vw + 1rem), 3.5rem);
  line-height: 1;
  color: #17353d;
  margin-bottom: 1rem;
  
}

main{
  .jumbotron{
    //background: linear-gradient(to right, #2c3e50, #3498db);
    background: linear-gradient(to right, #7b4397, #dc2430);
  }

  .first{
    margin-top: 50px;
  }
  .hero-btn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
  }

  .video1{
    border-radius: 50px;
    border-width: 100px;
    border-color: white;
  }

}

.jumbotron-cards{
  margin-top: 30px;

  .card{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
  }
  img{
    padding: 5px;
  }
}

.section-1{
  //background-color: #FFB6C1;
  .jumbotron{
    background-color: #FFB6C1;
  }
}

.section1-flex{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-left: 10px;
    img{
      max-width: 80px;
    }
}

.featured{
  background-color: #FFB6C1;
  .featured-button{
    display: flex;
    justify-content: center;
    //flex-basis: 10%;
  }
}

.spacing>*+* {
    margin-top: var(--spacer, 2rem)
}

.primary-title {
    font-size: 4rem;
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
    line-height: 1;
    text-transform: uppercase;
}
  
.section-title {
    text-align: center;
    font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
    line-height: 1;
    color: #17353d;
    margin-bottom: 5rem;
}

.split {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
  
    &>* {
      flex-basis: 30%;
      min-width: 15em;
    }
  }

.featured {
    //background: #eee;
  
    &__item {
      display: block;
      position: relative;
      transform: scale(.85);
      transition: transform 250ms ease-in-out;
      text-decoration: none;
      color: #333;
      text-align: center;
      line-height: 1.2;
  
  
  
      &:hover,
      &:focus {
        transform: scale(1);
  
        .featured__details {
          opacity: 1;
          text-shadow: 0 0 2em rgba(#fff, 1)
        }
      }
  
      &::after {
        content: '';
        position: absolute;
        top: 10%;
        left: 10%;
        padding: 75% 75% 0 0;
        border-radius: 50%;
        background: #2193b0;
        z-index: -1;
      }
    }
  
    &__details {
      opacity: 0;
      transition: opacity 250ms linear;
  
      span {
        display: block;
        font-weight: 700;
        font-size: 2.5rem;
        color: black;
        text-decoration: none;
      }
    }
  }

.section-3{
    display: flex;
    flex-direction: row;
    background-color: #FFB6C1;

    .jumbotron{
      background-color: #FFB6C1;
    }

    .section3-flex{
      display: flex;
      flex-direction: row;
      padding: 20px;
      margin-left: 10px;
      img{
        max-width: 80px;
      }
      
    }

    .video2{
      border-radius: 50px;
      border-width: 100px;
      border-color: white;
    }
}

.section-4{
  background-color: #FFB6C1;
  h1{
    margin-left: 70px;
  }
  .content{
    padding: 20px;
    margin-top: 10px;
    p{
      margin-top: 10px;
    }
  }
}

#carouselExampleIndicators{
    flex-basis: 50%;
    border:white 10px
}

.section-6{
  h1{
    margin-left: 220px;
    margin-bottom: 20px;
  }
  background-color: #FFB6C1;
  .jumbotron{
    background-color: #FFB6C1;
  }
  .card{
    margin-top: 20px;
    border-radius: 20px;
    margin: 20px;
  }
}

.section-5{
  background-color: #FFB6C1;

  h1{
    margin-left: 340px;
    margin-bottom: 20px;
  }
  .card{
    margin: 40px;
    min-width: 500px;
    border-radius: 15px;
  }
  .stagger-flex{
    position: relative;
  }
  .stagger{
    position: absolute;
    left: 900px;
    top: 120px;
  }
}

.mobile{
  display: flex;
  justify-content: center;
}
